@model ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@using Nop.Plugin.Payments.Paybyrd.Models

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
<form asp-controller="PaymentPaybyrd" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>@T("Plugins.Payments.Paybyrd.Instructions")</p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LiveApiKey_OverrideForStore" asp-input="LiveApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LiveApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LiveApiKey" asp-required="true" html-attributes="@(new { value = Model.LiveApiKey })" />
                        <span asp-validation-for="LiveApiKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TestApiKey" asp-input="TestApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TestApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestApiKey" html-attributes="@(new { value = Model.TestApiKey })" />
                        <span asp-validation-for="TestApiKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnableTestMode_OverrideForStore" asp-input="EnableTestMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableTestMode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableTestMode" />
                        <span asp-validation-for="EnableTestMode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WebhookId" asp-input="WebhookId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WebhookId" />
                    </div>
                    <div class="col-md-9">
                        <input asp-for="WebhookId" class="form-control" disabled="disabled" />
                        <span asp-validation-for="WebhookId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PostPaymentOrderStatusId_OverrideForStore" asp-input="PostPaymentOrderStatusId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PostPaymentOrderStatusValues" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PostPaymentOrderStatusId" asp-items="Model.PostPaymentOrderStatusValues" />
                        <span asp-validation-for="PostPaymentOrderStatusId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HFBackgroundColor" asp-input="HFBackgroundColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HFBackgroundColor" />
                    </div>
                    <div class="col-md-9">
                        <input type="color" asp-for="HFBackgroundColor" class="form-control" />
                        <span asp-validation-for="HFBackgroundColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HFPaymentBackgroundColor" asp-input="HFPaymentBackgroundColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HFPaymentBackgroundColor" />
                    </div>
                    <div class="col-md-9">
                        <input type="color" asp-for="HFPaymentBackgroundColor" class="form-control" />
                        <span asp-validation-for="HFPaymentBackgroundColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HFPrimaryColor" asp-input="HFPrimaryColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HFPrimaryColor" />
                    </div>
                    <div class="col-md-9">
                        <input type="color" asp-for="HFPrimaryColor" class="form-control" />
                        <span asp-validation-for="HFPrimaryColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HFTextColor" asp-input="HFTextColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HFTextColor" />
                    </div>
                    <div class="col-md-9">
                        <input type="color" asp-for="HFTextColor" class="form-control" />
                        <span asp-validation-for="HFTextColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>